.app__widget {
  display: inline-block;
  grid-area: widget;
  .app__widget--message {
    position: relative;
    background-color: $color-background;
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    padding-right: 2.3rem;
    font-size: 1.3rem;
    max-width: 100%;
    border: 3px dotted transparent;
    &.hidden {
      display: none;
    }
    i {
      font-size: 2rem;
      margin-right: 1rem;
      &.close {
        position: absolute;
        top: 5px;
        right: calc(-1rem + 5px);
        font-size: 1.3rem;
        &:hover {
          color: $color-bin;
          transform: translateY(.1rem) scale(95%);
          cursor: pointer;
        }
      }
    }

    &.info {
      color: $color-info;
      border-color: $color-info;
    }

    &.exclamation {
      color: $color-accent;
      border-color: $color-accent;
    }

    &.success {
      color: $color-success;
      border-color: $color-success;
    }
  }
}